<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>用户信息-app端</title>
    <style>
        * {margin: 0; padding: 0;}
        #wrap {margin-top: 20px;}
        #wrap .avatar {border-radius: 50%;
            overflow: hidden; width: 100px; height: 100px;
            margin: 0 auto 20px;
        }
        #wrap .avatar img {width: 100%; height: 100%;}
        #wrap .column {height: 30px; line-height: 30px; text-align: center;}
    </style>
</head>
<body>
<div id="wrap">
    <div class="avatar">
        <img src="{{ user_info.avatar }}" alt="NO IMG">
    </div>
    <div class="column">{{ user_info.nick }}</div>
    <div class="column">{{ user_info.email }}</div>
</div>
</body>
</html>