{% extends 'base.html' %}


{% block title %}
    Uav控制台
{% endblock %}

{% block content %}
    <div class="col-md-12">
        <div class="row">
            <div class="col-sm-6 col-md-3">
                <a class="card card-stats card-primary card-round" href="{% url 'key_word_config' %}" style="text-decoration: none;">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-5">
                                <div class="icon-big text-center">
                                    <i class="flaticon-agenda"></i>
                                </div>
                            </div>
                            <div class="col-7 col-stats">
                                <div class="numbers">
                                    <h4 class="card-title">关键词配置</h4>
                                </div>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-sm-6 col-md-3">
                <a class="card card-stats card-info card-round" href="{% url 'display_image' %}" style="text-decoration: none;">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-5">
                                <div class="icon-big text-center">
                                    <i class="flaticon-picture"></i>
                                </div>
                            </div>
                            <div class="col-7 col-stats">
                                <div class="numbers">
                                    <h4 class="card-title">相册展示</h4>
                                </div>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-sm-6 col-md-3">
                <a class="card card-stats card-success card-round" href="{% url 'view_account' %}" style="text-decoration: none;">
                    <div class="card-body ">
                        <div class="row">
                            <div class="col-5">
                                <div class="icon-big text-center">
                                    <i class="flaticon-profile"></i>
                                </div>
                            </div>
                            <div class="col-7 col-stats">
                                <div class="numbers">
                                    <h4 class="card-title">查看账户</h4>
                                </div>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-sm-6 col-md-3">
                <a class="card card-stats card-secondary card-round" href="{% url 'profile_account' %}" style="text-decoration: none;">
                    <div class="card-body ">
                        <div class="row">
                            <div class="col-5">
                                <div class="icon-big text-center">
                                    <i class="flaticon-desk"></i>
                                </div>
                            </div>
                            <div class="col-7 col-stats">
                                <div class="numbers">
                                    <h4 class="card-title">修改账户</h4>
                                </div>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
{% endblock %}

{% block js_code %}
    <script>
        $(() => {
            $("#dashboard_panel").addClass("active");
        });
    </script>
{% endblock %}




