{% extends 'base.html' %}
{% load custom_tag %}

{% block title %}语音助手-关键词配置{% endblock %}


{% block content %}
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                <div class="card-title" style="display: flex; justify-content: space-between;">
                    <span>你的关键字</span>
                    <button type="button" class="btn btn-icon btn-round btn-success" data-toggle="tooltip"
                            title="添加关键字" onclick="addKeyWord()">
                        <i class="fas fa-plus"></i>
                    </button>
                </div>
            </div>
            <div class="card-body">
                <div style="padding-left: 20px;">
                    <div class="selectgroup selectgroup-pills">
                        {% for item in key_words %}
                            <label class="selectgroup-item" data-toggle="tooltip" title="关键字：{{ item.key_word }}"
                                   onclick="clickKeyWord(this)">
                                <input type="checkbox" name="key_word" value="{{ item.id }}" class="selectgroup-input"
                                       {% if item.id|user_have_current_key_word:user_key_word %}checked{% endif %}>
                                <span class="selectgroup-button">{{ item.name }}</span>
                            </label>
                        {% endfor %}
                    </div>
                </div>
            </div>
            <div class="card-action">
                <button class="btn btn-success" onclick="save()">保存</button>
                <button class="btn btn-danger" onclick="cancel()">取消</button>
            </div>
        </div>
    </div>
{% endblock %}

{% block js_code %}
    <script>
        $(() => {
            $("#voice_assistant").addClass("active");
            $("#voice").addClass("show");
            $("#key_word_config").addClass("active");

            // 关键字提示信息
            $('[data-toggle="tooltip"]').tooltip();
        });

        /**
         * 取消操作关键字
         */
        function cancel() {
            location.reload();
        }

        let key_word_str = "";

        function save() {
            // 获取选中的关键字
            $("input[name=key_word]:checked").each((index, item) => {
                if (index === 0) {
                    key_word_str += $(item).val();
                } else {
                    key_word_str += "," + $(item).val();
                }
            });
            // 确认更新询问
            swal({
                title: '确定吗?',
                text: "确定更新关键字吗!",
                type: 'warning',
                buttons: {
                    confirm: {
                        text: '是的',
                        className: 'btn btn-success'
                    },
                    cancel: {
                        visible: true,
                        text: "取消",
                        className: 'btn btn-danger'
                    }
                }
            }).then((Delete) => {
                if (Delete) {
                    $.ajax({
                        url: "{% url 'save_key_word' %}",
                        type: "post",
                        data: {
                            key_word_str,
                        },
                        success(args) {
                            if (args === "1") {
                                key_word_str = "";
                                $("#save").modal("hide");
                                let content = {};

                                content.message = '保存成功';
                                content.title = '成功提示';
                                content.icon = 'fa fa-bell';

                                $.notify(content, {
                                    type: "success",
                                    placement: {
                                        from: "top",
                                        align: "right"
                                    },
                                    time: 1000,
                                    delay: 0,
                                    allow_dismiss: true,
                                });
                            }
                        },
                    });
                } else {
                    swal.close();
                }
            });
        }


        function clickKeyWord(self) {
            // 获取点击关键字下对应的input
            let inputEle = $(self).children("input[name=key_word]");
            inputEle.prop("checked", !inputEle.is(":checked"));
        }

        function addKeyWord() {
            location.href = "{% url 'add_custom_key_word' %}";
        }
    </script>
{% endblock %}

